@charset "UTF-8";
/* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  display: block;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Beginning styles --------------------*/
.btn-secondary, .btn-primary {
  padding: 0.75em 1.5em;
  background-color: #ee8313;
}
.btn-secondary:hover, .btn-primary:hover {
  background-color: #ef5e10;
  transition: 0.2s;
}

html {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75em;
  color: #fff;
  background-color: #000;
}

/*====================== header ======================*/
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 40px 0 107px;
}

.header-wrapper {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h1 {
  display: none;
}

.header-logo__img {
  max-width: 48px;
  max-height: 48px;
}

.nav-main {
  margin-left: auto;
}

.nav-main__list {
  display: flex;
  margin-right: 72px;
  gap: 48px;
  -moz-column-gap: 48px;
}

.nav-main__link:hover {
  color: #ee8313;
  transition: 0.3s;
}

.btn-primary {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.75em;
  color: #fff;
}

.header-btn {
  max-width: 184px;
}

.btn-secondary {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.75em;
  color: #ee8313;
  line-height: 1.6em;
  border: 1px solid #ee8313;
  background: #000;
}
.btn-secondary:hover {
  color: #fff;
  transition: 0.3s;
  border: 1px solid #fff;
  background-color: #ee8313;
}

/*====================== Banner ======================*/
.banner-section {
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}

.banner {
  max-width: 475px;
}

.banner__title {
  pointer-events: none;
}

.main-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 3.25em;
  font-weight: bold;
  line-height: 1.75em;
  color: #fff;
  line-height: 1.23em;
  letter-spacing: 0.6%;
}

.banner__text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.06em;
  font-weight: 300;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.8);
  margin: 32px 0 48px;
}

.banner-button-wrapp {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 35px;
}

.banner-advantage {
  pointer-events: none;
}

.banner-advantage__text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.75em;
  color: #fff;
  line-height: 1.3em;
  vertical-align: sub;
}
.banner-advantage__text:first-child {
  margin-right: 16px;
}

.banner-advantage__text--strong {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.75em;
  color: #fff;
}
.banner-advantage__text--strong:first-child {
  margin-right: 40px;
}

.banner-image-box {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.banner-image-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url("../image/banner-car-background.png") no-repeat;
  background-position: right 0 top 55px;
}
.banner-image-box::before {
  content: "";
  width: 700px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(52, 52, 52, 0.3019607843);
}

/*====================== Rent-car ======================*/
.rent-car {
  margin-top: 60px;
  padding-top: 60px;
}

.rent-car__title {
  text-align: center;
  padding-bottom: 40px;
}

.rent-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.rent {
  max-width: 584px;
  height: 524px;
  position: relative;
  background: url("../image/cars/Supercars-1.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.rent:nth-child(2) {
  background: url("../image/cars/Supercars-2.png");
}
.rent:nth-child(3) {
  background: url("../image/cars/suv-3.png");
}
.rent:nth-child(4) {
  background: url("../image/cars/supersuv-4.png");
}

.car-name {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.75em;
  color: #fff;
  position: absolute;
  top: 48px;
  left: 48px;
}

.rent__link {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75em;
  color: #fff;
  padding-right: 30px;
  position: absolute;
  right: 60px;
  bottom: 48px;
}
.rent__link::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  rotate: 45deg;
  border-top: 2px solid #ee8313;
  border-right: 2px solid #ee8313;
}

.rent__link:hover::after {
  animation-name: flicker;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes flicker {
  0% {
    right: 10px;
  }
  100% {
    right: -23px;
  }
}

/*====================== Services ======================*/
.services {
  margin-top: 30px;
}

.services__title {
  padding-top: 30px;
  padding-bottom: 40px;
}

.services-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.services-card__img {
  margin-bottom: 24px;
}

.services-card__title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.75em;
  color: #fff;
  margin-bottom: 16px;
}

.services-card__text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.8);
}

/*====================== Destination ======================*/