//_______________________ Colors _______________________
//color text
$font-main-color: #fff;
$font-main-color--opacity: #ffffffcc; //opacity (0.8)
$selected-text-color: #ee8313;
$hover-text-color: #ef5e18;

//color background
$page-backround-color: #000;
$button-backround-color: #ee8313;
$car-background-color: #3434344d;
$cards-background-color: #131313;

//_______________________ Indent _______________________
$padding-button: 0.75em 1.5em;
